/* GENERAL STYLES */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* BASE STYLES */
html {
    font-size: 62.5%;
    /* font-size: 10px */
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #0f0f0f;
    text-transform: uppercase;
    text-align: center;
}

header {
    background-image: url("assets/image-1.jpg");
    background-position: center;
    object-fit: contain;
    min-height: 100vh;
    color: #f6f6f6;
    position: relative;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-transform: none;
    line-height: 2.9rem;
    text-align: center;
    margin-top: 0;
}


/* WRAPPERS */
.mainWrapper {
    width: 100%;
    max-width: 1600px;
}


.narrowWrapper {
    max-width: 1280px;
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
}


/* SOCIAL LINKS STYLES */
.socialLinks ul {
    list-style: none;
    position: absolute;
    bottom: -10px;
    right: 40px;
}

.socialLinks li {
    margin: 5px;
}

.socialLinks a {
    font-size: 2rem;
    font-weight: 400;
    color: #215a6d;
    padding: 2px;
}

.socialLinks a:hover {
    color: #8dd7e9;
    transition: ease-in 0.3s;
}


/* HEADING STYLES*/
h1 {
    display: block;
    font-size: 13rem;
    line-height: 12rem;
    margin: 150px 0;
}

.largestFont span {
    display: block;
    font-size: 3.2rem;
    line-height: 1.6rem;
}

h2 {
    margin-top: 0;
    padding: 20px 10px;
    font-size: 4.2rem;
    margin: 0;
}

h2.companyLogo  {
    font-size: 4.2rem;
    padding: 0 10px;
    margin: 0;
    float: left;
}

h3 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
} 

h4 {
    font-size: 2.4rem;
    text-align: left;
    padding: 0;
    margin: 5px 0;
}


/* MAIN NAV BAR STYLES */
.mainNav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    float: right;
}

.mainNav li {
    font-weight: 700;
    padding: 10px;
    float: left;
}

.mainNav li a {
    color: #f6f6f6;
    text-decoration: none;
}

.mainNav li a:hover {
    border-bottom: 4px solid #8dd7e9;
    transition: 0.5s;
}


/* PAGE NAV STYLES */
.pageNav {
    max-width: 100%;
    background: #215a6d;
    padding: 60px 0;
}

.pageNav ul {
    list-style: none;
    margin: 0 20%;
    padding: 40px 0;
}

.pageNav li {
    width: 33%;
    font-size: 3rem;
    text-align: center;
    padding: 5px 5px;
    float: left;
}

.pageNav i {
    display: block;
    padding: 10px 0;
}

.pageNav a {
    color: #f6f6f6;
    text-decoration: none;
}

.pageNav a:hover {
    color: #8dd7e9;
    
}


/* SECTIONS STYLES */
/* ABOUT SUMMIT SECTION */
.aboutSummit {
    width: 60%;
    padding: 60px 0;
}


/* BLOGPOSTS SECTION */
.blogPosts {
    background: #f6f6f6;
    padding: 0;
}

.blogPost:nth-child(even) .blogPostContentWrapper {
    float: right;
}

.blogImageContainer {
    width: 50%;
    float: left;
}

.blogImageContainer img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.blogPostContent {
    width: 50%;
    padding: 3% 10%;
    padding-bottom: 0;
    float: left;
}

.blogPostContentWrapper {
    width: 75%;
    text-align: center;
    margin: 20px 0;
}

/* ABOUT ME SECTION */
.aboutMe {
    background: #f6f6f6;
    padding: 60px 0;
}

.aboutMeContent {
    width: calc(70% - 20px);
    height: 100%;
    text-align: left;
    float: left;
}

.aboutMeContent h2, 
.aboutMeContent p {
    text-align: left;
} 

.aboutMeContent h2 {
    padding: 0;
    margin: 0 0 20px 0;
}

.aboutMePic {
    width: calc(30% - 20px);
    margin-right: 40px;
    float: left;
}

.aboutMePic img {
    width: 100%;
}


/* BUTTONS STYLES */
.button {
    background: #8dd7e9;
    border: 1px solid #8dd7e9;
    height: 46px;
    padding: 8px 30px;
    color: #0f0f0f;
    font-weight: 700;
    font-size: 1.8rem;
}

.button:hover {
    background: #215a6d;
    border: 1px solid #215a6d;
    color: #f6f6f6;
    transition: ease-in-out 0.3s;
}


/* GALLERY STYLES */
.gallery ul {
    list-style: none;
    padding: 60px 0;
}

.galleryItem {
    width: calc((100% - 6%) / 3);
    margin-right: 3%;
    float: left;
}

.galleryItem:last-child {
    margin-right: 0;
}

.galleryItem img {
    width: 100%;
}


/* FOOTER STYLES */
footer {
    background: #215a6d;
    color: #f6f6f6;
}

.footerContent {
    padding: 80px 0;
}

footer li {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    padding: 2px 0;
}

footer a {
    color: #f6f6f6;
    text-decoration: none;
    padding-bottom: 10px;
}

footer a:hover {
    color: #8dd7e9;
    text-decoration: underline;
}

.subscriptionForm,
.contactInfo,
.footerNav,
.recentBlogPosts {
    float: left;
    width: calc(50%/3);
    margin:0;
    padding: 0;
}

.subscriptionForm {
    width: 50%;
}

.subscriptionForm p, form {
    text-align: left;
}

.subscriptionForm input {
    height: 50px;
    width: 65%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8rem;
    display: inline-block;
    padding: 3px 10px;
    display: inline-block;
}

footer .button {
    height: 50px;
    font-size: 1.8rem;
    text-align: center;
    display: inline-block;
    position: absolute;
}

footer .button:hover {
    background: #0199be;
    border: 1px #0199be solid;
    color: #0f0f0f;
}

.contactInfo p {
    text-align: left;
    margin: 0;
}

.recentBlogPosts ul {
    text-transform: capitalize;
    margin:0;
    padding: 0;
    text-align: left;
}

.footerNav ul {
    text-align: left;
    padding: 0;
    margin: 0;
}

.copyright {
    background: #094154;
}

.copyright p {
    margin: 0;
}


/* HAMBURGER MENU DEFAULTS */
.mobileNav {
    display: none;
}

.openHamburger {
    display: none;
}

.preventAllScrollingOnBody {
    overflow: hidden;
}


/* RESPONSIVENESS */
@media (max-width: 1360px) {
    
    .subscriptionForm {
        width: 100%;
        margin-bottom: 40px;
    }

    .subscriptionForm input {
        width: 60%;
    }

    .contactInfo,
    .footerNav,
    .recentBlogPosts {
        width: 25%;
    }

    .blogPostContentWrapper h3 {
        font-size: 2.5rem;
    }

    .blogPostContentWrapper p {
        line-height: 2.5rem;
    }
}

@media (max-width: 1200px) {
    .blogPostContentWrapper {
        width: 90%;
        margin: 0;
    }

    .aboutMePic img {
        margin-top: 15px;
    }

    .aboutMeContent h2 {
        padding: 0;
    }
}


@media (max-width: 992px) {

    h1 {
        font-size: 10rem;
    }
    
    .largestFont span {
        font-size: 2.8rem;
    }

    h2.companyLogo {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .socialLinks {
        display: none;
    }
    
    .pageNav {
        padding: 10px 0;
    }

    .pageNav li {
        width: 100%;
        margin-bottom: 20px;
    }

    .pageNav li:last-child {
        margin-bottom: 0;
    }

    .blogPostContent,
    .blogImageContainer,
    .blogPostContentWrapper {
        width: 100%
    }

    .blogPostContent {
        margin: 50px auto;
    }

    .blogPost:last-child {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    .blogPost:last-child .blogImageContainer,
    .blogPost:last-child .blogPostContent {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    .aboutMeContent {
        width: 100%;
        text-align: center;
    }

    .aboutMeContent h2 {
        text-align: center;
        padding: 5px;
        margin: 0;
    }

    .aboutMePic {
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .aboutMePic img {
        height: auto;
        width: 300px;
    }
}

@media (max-width: 768px) {
    .mainNav {
        display: none;
    }


    /* HAMBURGER MENU */
    .openHamburger {
        display: block;
        float: right;
    }

    .openHamburger .fas,
     .closeHamburger .fas {
        color: #f6f6f6;
        font-size: 3rem;
    }


    /* OPEN HAMBURGER */
    .sectionHome .narrowWrapper {
        position: relative;
    }

    .mobileNavControls {
        text-align: right;
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
    }

    .mobileNavControls a {
        display: block;
    }

    .mobileNav {
        background: #215a6d;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .mobileNavList {
        margin-top: 20px;
        padding: 0;
        list-style-type: none;
    }

    .mobileNavList li {
        margin-bottom: 20px;
    }

    .mobileNavList li a {
        text-decoration: none;
        color: #f6f6f6;
        font-size: 3rem;
        font-weight: 700;
    }

    .mobileNavList li:active {
        background: rgba(0, 0, 0, 0.192);
    }

    /* END OF HAMBURGER MENU */

    .largestFont {
        font-size: 7rem;
    }

    .largestFont span {
        font-size: 2.2rem;
    }

    .gallery {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .gallery ul {
        margin: 0;
        padding: 0;
    }

    .gallery .galleryItem {
        width: 50%;
        margin: 0;
    }

    .gallery .galleryItem img {
        display: block;
    }

    .gallery .galleryItem:last-child {
        display: none;
    }

    .subscriptionForm h4,
    .subscriptionForm p {
        text-align: center;
    }

    .subscriptionForm form input,
    .subscriptionForm form button {
        width: 100%;
    }

    .subscriptionForm form input {
        text-align: center;
    }

    .subscriptionForm form button {
        position: initial;
    }

    .contactInfo,
    .footerNav,
    .recentBlogPosts {
        width: 100%;
        margin-bottom: 40px;
    }

    .contactInfo p,
    .contactInfo h4 {
        text-align: center;
    }

    .contactInfo p {
        margin-bottom: 5px;
    }

    .footerNav h4,
    .footerNav ul li {
        text-align: center;
    }
    
    .footerNav ul li,
    .recentBlogPosts ul li {
        margin-bottom: 5px;
    }

    .recentBlogPosts {
        margin-bottom: 0;
    }

    .recentBlogPosts h4,
    .recentBlogPosts ul li {
        text-align: center;
    }
}
